repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.17
  hooks:
    - id: uv-lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
    - id: ruff-check
      args: [ --fix ]
      types_or: [ python ] # Add jupyter to run on notebooks
    - id: ruff-format
      types_or: [ python ] # Add jupyter to run on notebooks
- repo: local
  hooks:
    - id: validate-python-headers
      name: Validate Python file headers
      entry: uv run python .validate_headers.py
      language: system
      files: ^(src|tests)/.*\.py$
      pass_filenames: true
      # stages: [commit]
